.bmiWrapper{
    background-color: #186BAC;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    border-radius: 35px;
    .res{
        font-size: 17px;
        color: #fff;
        font-weight: 100;
    }
}